openapi: 3.0.0
info:
  title: Housing Matching Service
  version: 3.1.0
  contact:
    name: API Source
    email: support@hslynk.com
    url: https://github.com/hmis-api/housing-matching-service-api
  # Name of the license and a URL to the license description.
  license:
    name: Open Source License
    url: https://github.com/hmis-api/housing-matching-service-api/blob/master/LICENSE
  description: |
       **Note :**
              Please note that the partial updates are supported via PUT APIs. However, Note that If "null" value is passed for any element, in the PUT request body, it will be ignored. An empty string value should be sent (instead of "null" value) for the elements that need to be updated with NULL values.
servers:
  - url: 'https://api.hslynk.com/house-matching-api/'
paths:

  /v3/matches:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "links",
                      "content",
                      "page"
                    ],
                    "properties": {
                      "links": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "rel",
                            "href"
                          ],
                          "properties": {
                            "rel": {
                              "type": "string",
                            },
                            "href": {
                              "type": "string",
                            }
                          }
                        }
                      },
                      "content": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "reservationId",
                            "eligibleClients",
                            "housingUnitId",
                            "matchDate",
                            "matchStatus",
                            "manualMatch",
                            "dateCreated",
                            "dateUpdated",
                            "links"
                          ],
                          "properties": {
                            "reservationId": {
                              "type": "string",
                              "format": "uuid",
                            },
                            "eligibleClients": {
                              "type": "object",
                              "required": [
                                "clientId",
                                "surveyScore",
                                "programType",
                                "matched",
                                "surveyDate",
                                "spdatLabel",
                                "dateCreated",
                                "dateUpdated",
                                "ignoreMatchProcess",
                                "remarks",
                                "bonusScore",
                                "totalScore"
                              ],
                              "properties": {
                                "clientId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "surveyScore": {
                                  "type": "integer"
                                },
                                "programType": {
                                  "type": "string",
                                },
                                "matched": {
                                  "type": "boolean"
                                },
                                "surveyDate": {
                                  "type": "string",
                                  "format": "YYYY-MM-dd HH:mm",
                                },
                                "spdatLabel": {
                                  "type": "string",
                                },
                                "dateCreated": {
                                  "type": "string",
                                  "format": "YYYY-MM-dd HH:mm",
                                },
                                "dateUpdated": {
                                  "type": "string",
                                  "format": "YYYY-MM-dd HH:mm",
                                },
                                "ignoreMatchProcess": {
                                  "type": "boolean"
                                },
                                "remarks": {
                                  "type": "string",
                                },
                                "bonusScore": {
                                  "type": "integer"
                                },
                                "totalScore": {
                                  "type": "integer"
                                }
                              }
                            },
                            "housingUnitId": {
                              "type": "string",
                              "format": "uuid",
                            },
                            "matchDate": {
                              "type": "string",
                              "format": "YYYY-MM-dd",
                            },
                            "matchStatus": {
                              "type": "integer"
                            },
                            "manualMatch": {
                              "type": "boolean"
                            },
                            "dateCreated": {
                              "type": "string",
                              "format": "YYYY-MM-dd HH:mm",
                            },
                            "dateUpdated": {
                              "type": "string",
                              "format": "YYYY-MM-dd HH:mm",
                            },
                            "links": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "rel",
                                  "href"
                                ],
                                "properties": {
                                  "rel": {
                                    "type": "string",
                                  },
                                  "href": {
                                    "type": "string",
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "page": {
                        "type": "object",
                        "required": [
                          "size",
                          "totalElements",
                          "totalPages",
                          "number"
                        ],
                        "properties": {
                          "size": {
                            "type": "integer"
                          },
                          "totalElements": {
                            "type": "integer"
                          },
                          "totalPages": {
                            "type": "integer"
                          },
                          "number": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                example:
                    links:
                    - rel: first
                      href: https://www.hslynk.com/house-matching-api/v3/matches?page=0&size=20
                    - rel: self
                      href: https://www.hslynk.com/house-matching-api/v3/matches
                    - rel: next
                      href: https://www.hslynk.com/house-matching-api/v3/matches?page=1&size=20
                    - rel: last
                      href: https://www.hslynk.com/house-matching-api/v3/matches?page=3&size=20
                    content:
                    - reservationId: a8d6e4b6-cac6-4e01-9d81-1abf1b361141
                      eligibleClients:
                        clientId: 37c1ddf1-1d09-437e-8a01-af3801049c43
                        surveyScore: 5
                        programType: '2'
                        matched: true
                        surveyDate: 2016-12-20 00:00
                        spdatLabel: SINGLE_ADULT
                        dateCreated: 2016-12-20 07:51
                        dateUpdated: 2017-02-18 18:56
                        ignoreMatchProcess: false
                        remarks: Ignore match flag auto set by system to false
                        bonusScore: 0
                        totalScore: 5
                      housingUnitId: 3bc26f92-11c9-4fd8-a33a-bba98859e14d
                      matchDate: '2016-12-20'
                      matchStatus: 0
                      manualMatch: false
                      dateCreated: 2016-12-20 08:33
                      dateUpdated: 2016-12-20 08:33
                      links:
                      - rel: history
                        href: "/matches/client/37c1ddf1-1d09-437e-8a01-af3801049c43/status"
                      - rel: client
                        href: "/hmis-clientapi/rest/v2015/clients/37c1ddf1-1d09-437e-8a01-af3801049c43"
                    - reservationId: 8379d701-59f7-4832-96d1-5dbf0b8761b0
                      eligibleClients:
                        clientId: 049f398d-e048-400d-adb6-d74ced86ee63
                        surveyScore: 5
                        programType: '2'
                        matched: true
                        surveyDate: 2016-12-20 00:00
                        spdatLabel: SINGLE_ADULT
                        dateCreated: 2016-12-20 08:13
                        dateUpdated: 2017-02-18 18:55
                        ignoreMatchProcess: false
                        remarks: Ignore match flag auto set by system to false
                        bonusScore: 0
                        totalScore: 5
                      housingUnitId: 196b83b6-d546-40a7-b72a-3bc2770064b0
                      matchDate: '2016-12-20'
                      matchStatus: 0
                      manualMatch: false
                      dateCreated: 2016-12-20 08:33
                      dateUpdated: 2016-12-20 08:33
                      links:
                      - rel: history
                        href: "/matches/client/049f398d-e048-400d-adb6-d74ced86ee63/status"
                      - rel: client
                        href: "/hmis-clientapi/rest/v2015/clients/049f398d-e048-400d-adb6-d74ced86ee63"
                    - reservationId: f450c258-326b-4f4a-9c3f-0a6d6ae6fa58
                      eligibleClients:
                        clientId: e23b264e-b69f-446e-84e7-58e3fe00e0f1
                        surveyScore: 5
                        programType: '2'
                        matched: true
                        surveyDate: 2016-12-20 00:00
                        spdatLabel: SINGLE_ADULT
                        dateCreated: 2016-12-20 08:33
                        dateUpdated: 2017-02-18 18:54
                        ignoreMatchProcess: false
                        remarks: Ignore match flag auto set by system to false
                        bonusScore: 0
                        totalScore: 5
                      housingUnitId: 68e75874-f62c-4436-b12b-a540d7977869
                      matchDate: '2016-12-20'
                      matchStatus: 0
                      manualMatch: false
                      dateCreated: 2016-12-20 08:33
                      dateUpdated: 2016-12-20 08:33
                      links:
                      - rel: history
                        href: "/matches/client/e23b264e-b69f-446e-84e7-58e3fe00e0f1/status"
                      - rel: client
                        href: "/hmis-clientapi/rest/v2015/clients/e23b264e-b69f-446e-84e7-58e3fe00e0f1"
                    page:
                      size: 20
                      totalElements: 73
                      totalPages: 4
                      number: 0
        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
      description: Get the list of the proposed matches.
      operationId: GET_matches
  '/v3/matches/client/{dedupclientid}':
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "required": [
                      "reservation_id",
                      "client_id",
                      "housing_unit_id",
                      "match_date",
                      "dateCreated",
                      "dateUpdated",
                      "userId",
                      "matchedStatus"
                    ],
                    "properties": {
                      "reservation_id": {
                        "type": "string",
                      },
                      "client_id": {
                        "type": "string",
                      },
                      "housing_unit_id": {
                        "type": "string",
                      },
                      "match_date": {
                        "type": "string",
                        "format": "YYYY-MM-dd",
                      },
                      "dateCreated": {
                        "type": "string",
                        "format": "MM-dd-YYYY HH:mm",
                      },
                      "dateUpdated": {
                        "type": "string",
                        "format": "MM-dd-YYYY HH:mm",
                      },
                      "userId": {
                        "type": "string",
                        "format": "uuid",
                      },
                      "matchedStatus": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  reservation_id: '12345'
                  client_id: '456788'
                  housing_unit_id: 09876
                  match_date: '2016-10-10'
                  dateCreated: '10-25-2016 15:24'
                  dateUpdated: '10-25-2016 15:24'
                  userId: 74fe590d-9389-4936-abef-1c18fbf14750
                  matchedStatus: 'true'
        '403':
          description: ''
          content:
            application/json:
                schema:
                    {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string",
                        }
                      }
                    }
                example:
                  error: Token Not Valid
      description: Get the proposed matche for a dedupClientId.
      operationId: GET_matches-client-dedupClientId
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "deleted"
                    ],
                    "properties": {
                      "deleted": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  deleted: ok
        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
      description: |
        Clears off the proposed match for a particular client.
      operationId: DELETE_matches-client-dedupClientId
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "matched"
                    ],
                    "properties": {
                      "matched": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  matched: ok
        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
      description: |
        Used for updating/accepting the match for a dedupClientId.
      operationId: PUT_matches-client-dedupClientId
      requestBody:
        content:
          application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "reservationAdults",
                      "reservationChildren"
                    ],
                    "properties": {
                      "reservationAdults": {
                        "type": "string",
                      },
                      "reservationChildren": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  reservationAdults: '0'
                  reservationChildren: '2'
        required: true
    parameters:
      - name: dedupclientid
        in: path
        required: true
        schema:
          type: string
        description: id of the client.
  /v3/eligibleclients:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "links",
                      "content",
                      "page"
                    ],
                    "properties": {
                      "links": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "rel",
                            "href"
                          ],
                          "properties": {
                            "rel": {
                              "type": "string",
                            },
                            "href": {
                              "type": "string",
                            }
                          }
                        }
                      },
                      "content": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "clientId",
                            "surveyScore",
                            "matched",
                            "surveyDate",
                            "dateCreated",
                            "dateUpdated",
                            "userId",
                            "client"
                          ],
                          "properties": {
                            "clientId": {
                              "type": "string",
                              "format": "uuid",
                            },
                            "surveyScore": {
                              "type": "integer"
                            },
                            "matched": {
                              "type": "boolean"
                            },
                            "surveyDate": {
                              "type": "string",
                              "format": "MM-dd-YYYY HH:mm",
                            },
                            "dateCreated": {
                              "type": "string",
                              "format": "MM-dd-YYYY HH:mm",
                            },
                            "dateUpdated": {
                              "type": "string",
                              "format": "MM-dd-YYYY HH:mm",
                            },
                            "userId": {
                              "type": "string",
                              "format": "uuid",
                            },
                            "client": {
                              "type": "object",
                              "required": [
                                "id",
                                "firstName",
                                "middleName",
                                "lastName",
                                "dob",
                                "dedupClientId"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "firstName": {
                                  "type": "string",
                                },
                                "middleName": {
                                  "type": "string",
                                },
                                "lastName": {
                                  "type": "string",
                                },
                                "dob": {
                                  "type": "integer"
                                },
                                "dedupClientId": {
                                  "type": "string",
                                  "format": "uuid",
                                }
                              }
                            }
                          }
                        }
                      },
                      "page": {
                        "type": "object",
                        "required": [
                          "size",
                          "totalElements",
                          "totalPages"
                        ],
                        "properties": {
                          "size": {
                            "type": "integer"
                          },
                          "totalElements": {
                            "type": "integer"
                          },
                          "totalPages": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                example:
                    links:
                    - rel: first
                      href: https://www.hslynk.com/house-matching-api/v3/eligibleclients?page=0&size=1
                    - rel: self
                      href: https://www.hslynk.com/house-matching-api/v3/eligibleclients?size=1
                    - rel: next
                      href: https://www.hslynk.com/house-matching-api/v3/eligibleclients?page=1&size=1
                    - rel: last
                      href: https://www.hslynk.com/house-matching-api/v3/eligibleclients?page=2&size=1
                    - rel: scoreprocessingstatus
                      href: https://www.hslynk.com/house-matching-api/scores/status
                    - rel: scoreprocessinghistory
                      href: https://www.hslynk.com/house-matching-api/scores/history
                    content:
                    - clientId: 91dbc8c3-6df6-4702-9733-c84dd67bf1ed
                      surveyScore: 10
                      matched: false
                      surveyDate: 09-29-2016 11:05
                      dateCreated: 10-25-2016 15:24
                      dateUpdated: 10-25-2016 15:24
                      userId: 74fe590d-9389-4936-abef-1c18fbf14750
                      client:
                        id: 91dbc8c3-6df6-4702-9733-c84dd67bf1ed
                        firstName: Ryan
                        middleName: ''
                        lastName: Peterson
                        dob: 339989400000
                        dedupClientId: 5dfe2ac2-43af-4d6d-9ee8-0e8fac5e3eg8
                    page:
                      size: 1
                      totalElements: 3
                      totalPages: 3
        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
      description: Return the list of all eligible clients. If there are multiple clients exists for the same dedupId, the client that has latest survey date will be sent in the API response.
      operationId: GET_eligibleclients
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "added"
                    ],
                    "properties": {
                      "added": {
                        "type": "boolean"
                      }
                    }
                  }
                example:
                  added: true
        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
      description: >
        Will add the client to the eligible clients list. If the client already exists in the active list, this API will update the information.
        Allowed values for "spdatLabel" field are "FAMILY","YOUTH","SINGLE_ADULT"
      operationId: POST_eligibleclients
      requestBody:
        content:
          application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "clientDedupId",
                      "surveyType",
                      "surveyScore",
                      "programType",
                      "matched",
                      "spdatLabel",
                      "zipcode",
                      "surveyDate",
                      "ignoreMatchProcess",
                      "remarks"
                    ],
                    "properties": {
                      "clientDedupId": {
                        "type": "string",
                        "format": "uuid",
                      },
                      "surveyType": {
                        "type": "string",
                      },
                      "surveyScore": {
                        "type": "string",
                      },
                      "programType": {
                        "type": "string",
                      },
                      "matched": {
                        "type": "boolean"
                      },
                      "spdatLabel": {
                        "type": "string",
                      },
                      "zipcode": {
                        "type": "string",
                      },
                      "surveyDate": {
                        "type": "string",
                        "format": "MM-dd-YYYY HH:mm",
                      },
                      "ignoreMatchProcess": {
                        "type": "boolean"
                      },
                      "remarks": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  clientDedupId: 74520590-3eb3-11e7-85e4-06c37be0e663
                  surveyType: Servey Type
                  surveyScore: '17'
                  programType: Program Type
                  matched: true
                  spdatLabel: SINGLE_ADULT
                  zipcode: '53320'
                  surveyDate: '05-05-2016 09:12'
                  ignoreMatchProcess: true
                  remarks: Client not interested
        required: true
  '/v3/eligibleclients/{clientdedupid}':
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "clientId",
                      "surveyScore",
                      "programType",
                      "matched",
                      "surveyDate",
                      "spdatLabel",
                      "dateCreated",
                      "dateUpdated",
                      "ignoreMatchProcess",
                      "remarks",
                      "client",
                      "clientDedupId",
                      "surveySubmissionDate",
                      "bonusScore",
                      "totalScore",
                      "links"
                    ],
                    "properties": {
                      "clientId": {
                        "type": "string",
                        "format": "uuid",
                      },
                      "surveyScore": {
                        "type": "integer"
                      },
                      "programType": {
                        "type": "string",
                      },
                      "matched": {
                        "type": "boolean"
                      },
                      "surveyDate": {
                        "type": "string",
                        "format": "YYYY-MM-dd HH:mm",
                      },
                      "spdatLabel": {
                        "type": "string",
                      },
                      "dateCreated": {
                        "type": "string",
                        "format": "YYYY-MM-dd HH:mm",
                      },
                      "dateUpdated": {
                        "type": "string",
                        "format": "YYYY-MM-dd HH:mm",
                      },
                      "ignoreMatchProcess": {
                        "type": "boolean"
                      },
                      "remarks": {
                        "type": "string",
                      },
                      "client": {
                        "type": "object",
                        "required": [
                          "id",
                          "firstName",
                          "middleName",
                          "lastName",
                          "dob",
                          "phoneNumber",
                          "emailAddress",
                          "clientDedupId"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "firstName": {
                            "type": "string",
                          },
                          "middleName": {
                            "type": "string",
                          },
                          "lastName": {
                            "type": "string",
                          },
                          "dob": {
                            "type": "integer"
                          },
                          "phoneNumber": {
                            "type": "string",
                          },
                          "emailAddress": {
                            "type": "string",
                          },
                          "clientDedupId": {
                            "type": "string",
                            "format": "uuid",
                          }
                        }
                      },
                      "clientDedupId": {
                        "type": "string",
                        "format": "uuid",
                      },
                      "surveySubmissionDate": {
                        "type": "string",
                        "format": "YYYY-MM-dd HH:mm",
                      },
                      "bonusScore": {
                        "type": "integer"
                      },
                      "totalScore": {
                        "type": "integer"
                      },
                      "links": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "rel",
                            "href"
                          ],
                          "properties": {
                            "rel": {
                              "type": "string",
                            },
                            "href": {
                              "type": "string",
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                    clientId: 9ed5ef09-920a-4046-984e-d1d7556f084a
                    surveyScore: 22
                    programType: '10'
                    matched: false
                    surveyDate: 2017-12-13 21:18
                    spdatLabel: SINGLE_ADULT
                    dateCreated: 2017-12-13 22:00
                    dateUpdated: 2019-04-10 14:00
                    ignoreMatchProcess: false
                    remarks: ''
                    client:
                      id: 9ed5ef09-920a-4046-984e-d1d7556f084a
                      firstName: Johnathan
                      middleName: s
                      lastName: Spears
                      dob: 479520000000
                      phoneNumber: "(209) 555-5555"
                      emailAddress: jspears@boomboom.com
                      clientDedupId: 0f2af660-df24-11e7-8e7c-02fe61f7863e
                    clientDedupId: 0f2af660-df24-11e7-8e7c-02fe61f7863e
                    surveySubmissionDate: 2017-12-13 21:18
                    bonusScore: 0
                    totalScore: 22
                    links:
                    - rel: client
                      href: "/hmis-clientapi/rest/9ed5ef09-920a-4046-984e-d1d7556f084a/clients/9ed5ef09-920a-4046-984e-d1d7556f084a"


        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
      description: Returns the client that matches the dedupId and has latest survey date (if there are multiple clients exist for the dedupId).
      operationId: GET_eligibleclients_dedupid
      parameters:
        - name: clientdedupid
          in: path
          schema:
             type: string
          required: true
  '/eligibleclients/{clientid}':
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "clientId",
                      "surveyScore",
                      "bonusScore",
                      "totalScore",
                      "readdedReason",
                      "matched",
                      "surveyDate",
                      "dateCreated",
                      "dateUpdated",
                      "userId",
                      "remarks",
                      "ignoreMatchProcess",
                      "client",
                      "links"
                    ],
                    "properties": {
                      "clientId": {
                        "type": "string",
                        "format": "uuid",
                      },
                      "surveyScore": {
                        "type": "integer"
                      },
                      "bonusScore": {
                        "type": "integer"
                      },
                      "totalScore": {
                        "type": "integer"
                      },
                      "readdedReason": {
                        "type": "string",
                      },
                      "matched": {
                        "type": "boolean"
                      },
                      "surveyDate": {
                        "type": "string",
                        "format": "MM-dd-YYYY HH:mm",
                      },
                      "dateCreated": {
                        "type": "string",
                        "format": "MM-dd-YYYY HH:mm",
                      },
                      "dateUpdated": {
                        "type": "string",
                        "format": "MM-dd-YYYY HH:mm",
                      },
                      "userId": {
                        "type": "string",
                          "format": "uuid",
                      },
                      "remarks": {
                        "type": "string",
                      },
                      "ignoreMatchProcess": {
                        "type": "boolean"
                      },
                      "client": {
                        "type": "object",
                        "required": [
                          "id",
                          "firstName",
                          "middleName",
                          "lastName",
                          "dob",
                          "dedupClientId"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                              "format": "uuid",
                          },
                          "firstName": {
                            "type": "string",
                          },
                          "middleName": {
                            "type": "string",
                          },
                          "lastName": {
                            "type": "string",
                          },
                          "dob": {
                            "type": "integer"
                          },
                          "dedupClientId": {
                            "type": "string",
                              "format": "uuid",
                          }
                        }
                      },
                      "links": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "rel",
                            "href"
                          ],
                          "properties": {
                            "rel": {
                              "type": "string",
                            },
                            "href": {
                              "type": "string",
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  clientId: 800fa63b-8278-414c-83f1-5e29740205a0
                  surveyScore: 10
                  bonusScore: 12
                  totalScore: 22
                  readdedReason: Reason for readded
                  matched: false
                  surveyDate: '09-03-2016 04:19'
                  dateCreated: '10-25-2016 15:24'
                  dateUpdated: '10-25-2016 15:24'
                  userId: 74fe590d-9389-4936-abef-1c18fbf14750
                  remarks: Clients eligible for housing unit
                  ignoreMatchProcess: false
                  client:
                    id: 800fa63b-8278-414c-83f1-5e29740205a0
                    firstName: Ryan
                    middleName: ''
                    lastName: Peterson
                    dob: 339989400000
                    dedupClientId: 5dfe2ac2-43af-4d6d-9ee8-0e8fac5e3eg8
                  links:
                    - rel: client
                      href: /hmis-clientapi/rest/v2014/clients/800fa63b-8278-414c-83f1-5e29740205a0
        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
        '404':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Resource Not Found
      description: Fetch a particular client
      operationId: GET_eligibleclients-dedupClientId
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "deleted"
                    ],
                    "properties": {
                      "deleted": {
                        "type": "boolean"
                      }
                    }
                  }
                example:
                  deleted: true
        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
        '404':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Resource Not Found
      description: Delete a particular client
      operationId: DELETE_eligibleclients-dedupClientId
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example: |
        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
      description: >
        An eligible client, who is already matched and assigned an housing unit
        can reject the referral (an assigned housig unit can be rejected for
        various reasons). When this happens, "ignoreMatchProcess" flag will be
        set to "true" and the hosuing unit will become vacant (available for
        matching process again) An eligible client, who rejected the refferal,
        can be made available for matching process by setting
        "ignoreMatchProcess" to FALSE.
      operationId: PUT_eligibleclients-dedupClientId
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "surveyType",
                    "surveyScore",
                    "programType",
                    "matched",
                    "spdatLabel",
                    "zipcode",
                    "surveyDate",
                    "remarks",
                    "bonusScore",
                    "totalScore",
                    "readdedReason"
                  ],
                  "properties": {
                    "surveyType": {
                      "type": "string",
                    },
                    "surveyScore": {
                      "type": "string",
                    },
                    "programType": {
                      "type": "string",
                    },
                    "matched": {
                      "type": "boolean"
                    },
                    "spdatLabel": {
                      "type": "string",
                    },
                    "zipcode": {
                      "type": "string",
                    },
                    "surveyDate": {
                      "type": "string",
                      "format": "MM-dd-YYYY HH:mm",
                    },
                    "remarks": {
                      "type": "string",
                    },
                    "bonusScore": {
                      "type": "integer"
                    },
                    "totalScore": {
                      "type": "integer"
                    },
                    "readdedReason": {
                      "type": "string",
                    }
                  }
                }
              example:
                surveyType: Servey Type
                surveyScore: '10'
                programType: Program Type
                matched: false
                spdatLabel: SINGLE_ADULT
                zipcode: '53320'
                surveyDate: '05-05-2016 12:12'
                remarks: Client data updated
                bonusScore: 12
                totalScore: 22
                readdedReason: Reason for readded
        required: true
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: id of the client.
  '/v3/eligibleclients/{dedupclientid}':
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "clientId",
                      "surveyScore",
                      "bonusScore",
                      "totalScore",
                      "readdedReason",
                      "matched",
                      "surveyDate",
                      "dateCreated",
                      "dateUpdated",
                      "userId",
                      "remarks",
                      "ignoreMatchProcess",
                      "client",
                      "links"
                    ],
                    "properties": {
                      "clientId": {
                        "type": "string",
                        "format": "uuid",
                      },
                      "surveyScore": {
                        "type": "integer"
                      },
                      "bonusScore": {
                        "type": "integer"
                      },
                      "totalScore": {
                        "type": "integer"
                      },
                      "readdedReason": {
                        "type": "string",
                      },
                      "matched": {
                        "type": "boolean"
                      },
                      "surveyDate": {
                        "type": "string",
                        "format": "MM-dd-YYYY HH:mm",
                      },
                      "dateCreated": {
                        "type": "string",
                        "format": "MM-dd-YYYY HH:mm",
                      },
                      "dateUpdated": {
                        "type": "string",
                        "format": "MM-dd-YYYY HH:mm",
                      },
                      "userId": {
                        "type": "string",
                        "format": "uuid",
                      },
                      "remarks": {
                        "type": "string",
                      },
                      "ignoreMatchProcess": {
                        "type": "boolean"
                      },
                      "client": {
                        "type": "object",
                        "required": [
                          "id",
                          "firstName",
                          "middleName",
                          "lastName",
                          "dob",
                          "dedupClientId"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "firstName": {
                            "type": "string",
                          },
                          "middleName": {
                            "type": "string",
                          },
                          "lastName": {
                            "type": "string",
                          },
                          "dob": {
                            "type": "integer"
                          },
                          "dedupClientId": {
                            "type": "string",
                            "format": "uuid",
                          }
                        }
                      },
                      "links": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "rel",
                            "href"
                          ],
                          "properties": {
                            "rel": {
                              "type": "string",
                            },
                            "href": {
                              "type": "string",
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  clientId: 800fa63b-8278-414c-83f1-5e29740205a0
                  surveyScore: 10
                  bonusScore: 12
                  totalScore: 22
                  readdedReason: Reason for readded
                  matched: false
                  surveyDate: '09-03-2016 04:19'
                  dateCreated: '10-25-2016 15:24'
                  dateUpdated: '10-25-2016 15:24'
                  userId: 74fe590d-9389-4936-abef-1c18fbf14750
                  remarks: Clients eligible for housing unit
                  ignoreMatchProcess: false
                  client:
                    id: 800fa63b-8278-414c-83f1-5e29740205a0
                    firstName: Ryan
                    middleName: ''
                    lastName: Peterson
                    dob: 339989400000
                    dedupClientId: 5dfe2ac2-43af-4d6d-9ee8-0e8fac5e3eg8
                  links:
                    - rel: client
                      href: /hmis-clientapi/rest/v2014/clients/800fa63b-8278-414c-83f1-5e29740205a0
        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
        '404':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Resource Not Found
      description: |
      operationId: GET_v3_eligibleclients-dedupClientId
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "deleted"
                    ],
                    "properties": {
                      "deleted": {
                        "type": "boolean"
                      }
                    }
                  }
                example:
                  deleted: true
        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
        '404':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Resource Not Found
      description: |
      operationId: DELETE_v3_eligibleclients-dedupClientId
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example: |
        '403':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "string",
                      }
                    }
                  }
                example:
                  error: Token Not Valid
      description: >
        An eligible client, who is already matched and assigned an housing unit
        can reject the referral (an assigned housig unit can be rejected for
        various reasons). When this happens, "ignoreMatchProcess" flag will be
        set to "true" and the hosuing unit will become vacant (available for
        matching process again) An eligible client, who rejected the refferal,
        can be made available for matching process by setting
        "ignoreMatchProcess" to FALSE.
        Note: The client that matches the dedupId and has latest survey date (if there are multiple clients exist for the dedupId) will be considered.
      operationId: PUT_v3_eligibleclients-dedupClientId
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "surveyType",
                    "surveyScore",
                    "programType",
                    "matched",
                    "spdatLabel",
                    "zipcode",
                    "surveyDate",
                    "remarks",
                    "bonusScore",
                    "totalScore",
                    "readdedReason"
                  ],
                  "properties": {
                    "surveyType": {
                      "type": "string",
                    },
                    "surveyScore": {
                      "type": "string",
                    },
                    "programType": {
                      "type": "string",
                    },
                    "matched": {
                      "type": "boolean"
                    },
                    "spdatLabel": {
                      "type": "string",
                    },
                    "zipcode": {
                      "type": "string",
                    },
                    "surveyDate": {
                      "type": "string",
                      "format": "MM-dd-YYYY HH:mm",
                    },
                    "remarks": {
                      "type": "string",
                    },
                    "bonusScore": {
                      "type": "integer"
                    },
                    "totalScore": {
                      "type": "integer"
                    },
                    "readdedReason": {
                      "type": "string",
                    }
                  }
                }
              example:
                surveyType: Servey Type
                surveyScore: '10'
                programType: Program Type
                matched: false
                spdatLabel: SINGLE_ADULT
                zipcode: '53320'
                surveyDate: '05-05-2016 12:12'
                remarks: Client data updated
                bonusScore: 12
                totalScore: 22
                readdedReason: Reason for readded
        required: true
    parameters:
      - name: dedupclientid
        in: path
        required: true
        schema:
          type: string
        description: client dedup id.
  '/matches':
    post:
      description: |
                    This api triggers match process job
      responses:
        '200':
          description: ' '
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "processId"
                    ],
                    "properties": {
                      "processId": {
                        "type": "string",
                        "format": "uuid",
                      }
                    }
                  }
                example:
                    processId: 113ee8f6-f078-4ca7-a023-6926acc1bbb2
  '/matches/client/{dedupclientid}/status':
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "id",
                        "clientId",
                        "dedupClientId",
                        "status",
                        "statusDescription",
                        "recipients",
                        "active",
                        "dateCreated",
                        "dateUpdated",
                        "userId"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "clientId": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "dedupClientId": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "status": {
                          "type": "integer"
                        },
                        "statusDescription": {
                          "type": "string",
                        },
                        "recipients": {
                          "type": "object"
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "dateCreated": {
                          "type": "string",
                          "format": "MM-dd-YYYY HH:mm",
                        },
                        "dateUpdated": {
                          "type": "string",
                          "format": "MM-dd-YYYY HH:mm",
                        },
                        "userId": {
                          "type": "string",
                          "format": "uuid",
                        }
                      }
                    }
                  }
                example:
                  - id: ec501234-c61a-48bd-a85e-580af887a6a4
                    clientId: 6f38e63f-7856-4fb1-838f-c03805eab244
                    dedupClientId: 5dfe2ac2-43af-4d6d-9ee8-0e8fac5e3eg8
                    status: 3
                    statusDescription: Agency scheduled appointment with Client
                    recipients: {}
                    active: false
                    dateCreated: '10-25-2016 15:24'
                    dateUpdated: '10-25-2016 15:24'
                    userId: 74fe590d-9389-4936-abef-1c18fbf14750
                  - id: d406dbb7-cda3-4879-9e5d-989d5bc67b16
                    clientId: 6f38e63f-7856-4fb1-838f-c03805eab244
                    dedupClientId: 5dfe2ac2-43af-4d6d-9ee8-0e8fac5e3eg8
                    status: 2
                    statusDescription: Client is contacted by Agency
                    recipients: {}
                    active: false
                    dateCreated: '10-13-2016 02:26:09.066'
                    dateUpdated: '10-13-2016 02:26:09.066'
                    userId: 74fe590d-9389-4936-abef-1c18fbf14750
                  - id: d4c767bc-cb85-44f9-a985-0447292fedf6
                    clientId: 6f38e63f-7856-4fb1-838f-c03805eab244
                    dedupClientId: 5dfe2ac2-43af-4d6d-9ee8-0e8fac5e3eg8
                    status: 1
                    statusDescription: Email sent to Referral Agency
                    recipients: {}
                    active: false
                    dateCreated: '10-13-2016 02:23:59.124'
                    dateUpdated: '10-13-2016 02:23:59.124'
                    userId: 74fe590d-9389-4936-abef-1c18fbf14750
        '404':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "code",
                            "message"
                          ],
                          "properties": {
                            "code": {
                              "type": "string",
                            },
                            "message": {
                              "type": "string",
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  error:
                    - code: ERR_CODE_CLIENT_NOT_FOUND
                      message: Client not found
      description: TO read a client status history
      operationId: GET_matches-client-dedupClientId-status
    put:
      responses:
        '200':
          description: ''
        '400':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "code",
                            "message"
                          ],
                          "properties": {
                            "code": {
                              "type": "string",
                            },
                            "message": {
                              "type": "string",
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  error:
                    - code: ERR_CODE_INVALID_STATUS
                      message: Invalid status. Current status 1
        '404':
          description: ''
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "code",
                            "message"
                          ],
                          "properties": {
                            "code": {
                              "type": "string",
                            },
                            "message": {
                              "type": "string",
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                  error:
                    - code: ERR_CODE_CLIENT_NOT_FOUND
                      message: Client not found
      description: |
        Updates the status of a client matching. A notification will be
        triggered to the list of recipients set in the request body (recicipents
        can be part of TO,CC, BCC). Also the notification will be CC'ed to
        logged-in user (who is authorized to take actions for status to progress
        to the next levels). User can provide additional comments as well while
        updating the status of a specific match. Currently, the following are
        the statuses that are allowed

          Status 1 - Email sent to Referral Agency
          Status 2 - Client is contacted by Agency
          Status 3 - Agency scheduled appointment with Client
          Status 4 - Client missed 1st appointment
          Status 5 - Client missed 2nd appointment
          Status 6 - Paperwork initiated by Agency
          Status 7 - Client accepted referral
          Status 8 - Move-in Preparation initiated by Agency
          Status 9 - Client moved in
          Status 10 - Referral is rejected
      operationId: PUT_matches-client-dedupClientId-status
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "status",
                    "comments",
                    "recipients"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                    },
                    "comments": {
                      "type": "string",
                    },
                    "recipients": {
                      "type": "object",
                      "required": [
                        "toRecipients",
                        "bccRecipients",
                        "ccRecipients"
                      ],
                      "properties": {
                        "toRecipients": {
                          "type": "array",
                          "items": {
                            "type": "string",
                          }
                        },
                        "bccRecipients": {
                          "type": "array",
                          "items": {
                            "type": "string",
                          }
                        },
                        "ccRecipients": {
                          "type": "array",
                          "items": {
                            "type": "string",
                          }
                        }
                      }
                    }
                  }
                }
              example:
                status: '1'
                comments: forwarding to next level
                recipients:
                  toRecipients:
                    - agent@gmail.com
                    - client@hmis.com
                  bccRecipients:
                    - agent@gmail.com
                    - client@hmis.com
                  ccRecipients:
                    - agent@gmail.com
                    - client@hmis.com
        required: true
    parameters:
      - name: dedupclientid
        in: path
        required: true
        schema:
          type: string
components:

  responses: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  headers: {}
  securitySchemes:
    oauth_2_0:
      description: |
        The HMIS API supports OAuth 2.0 for authenticating all API requests.
      type: oauth2
      flows:
        password:
          tokenUrl: 'https://hmislynk.com/hmis-authorization-service/rest/token'
          scopes:
            user: ''
            administrator: ''
  links: {}
  callbacks: {}
